// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body
    background-image: $bg-gradient
    @media screen and (width > 1300px)
        background-image: $bg-image-url, $bg-gradient
        background-repeat: no-repeat
        background-position: left top
        background-size: contain
main

    h1
        color: $dark-grayish-red

    em, p
        color: $desaturated-red

    form
        input
            background-image: $bg-gradient
            border: 1px solid $desaturated-red
            outline: none

        input:focus
            color: $dark-grayish-red
            border: 2px solid $soft-red

        input::placeholder
            color: $desaturated-red
            opacity: 0.5

        #email-error
            color: $soft-red

button
    background-image: $button-bg-gradient
    box-shadow: 0 10px 30px $desaturated-red

    &:hover
        cursor: pointer
        background-color: $button-hover-bg
        background-image: none
