// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text.
// -----------------------------------------------------------------------------

// typography for body
body
    font:
        size: $size
        family: $text-font-stack

    h1
        font-size: 42px
        letter-spacing: 10px
        text-transform: uppercase
        line-height: 1

        em
            font-style: normal
            font-weight: 200

    p
        font-size: 15px
        word-spacing: -3px

    footer
        font-size: 14px

@media screen and ( width > 1300px )
    main
        .info
            h1
                font-size: 60px
                letter-spacing: 20px
                line-height: 1.2

            em
                line-height: 1

            p
                line-height: 1.87
                word-spacing: 3px
