/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", Sans-serif;
}
body h1 {
  font-size: 42px;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1;
}
body h1 em {
  font-style: normal;
  font-weight: 200;
}
body p {
  font-size: 15px;
  word-spacing: -3px;
}
body footer {
  font-size: 14px;
}

@media screen and (width > 1300px) {
  main .info h1 {
    font-size: 60px;
    letter-spacing: 20px;
    line-height: 1.2;
  }
  main .info em {
    line-height: 1;
  }
  main .info p {
    line-height: 1.87;
    word-spacing: 3px;
  }
}
footer {
  margin: 50px 0 20px;
}
footer a {
  color: hsl(0, 93%, 68%) !important;
}

form {
  text-align: left;
}
form .email-input {
  position: relative;
}
form input {
  width: 98%;
  height: 50px;
  border-radius: 25px;
  padding: 0 100px 0 25px;
}
form #error-image {
  display: none;
  position: absolute;
  top: 13px;
  right: 80px;
}
form button {
  position: absolute;
  right: 0;
  top: 0;
}
form #email-error {
  display: none;
  margin: 3px 0 0 25px;
  font-size: 14px;
}

@media screen and (width > 1300px) {
  form input {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    padding: 0 140px 0 30px;
  }
  form #error-image {
    top: 16px;
    right: 130px;
  }
  form #email-error {
    margin-left: 30px;
  }
}
body {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}

main {
  width: 375px;
  min-height: 100vh;
}
main .logo-image > img {
  margin: 30px 0 0 32px;
  height: 20px;
}
main .hero-image {
  margin-top: 34px;
}
main .info {
  margin: 0 30px;
}
main .info h1 {
  margin-top: 64px;
}
main .info h1 em {
  display: block;
}
main .info p {
  margin-top: 16px;
}
main .info form {
  margin-top: 30px;
}

@media screen and (width > 1300px) {
  main {
    width: 100vw;
    margin: 0;
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto;
    text-align: left;
  }
  main .logo-image > img {
    margin: 64px 0 0 164px;
    height: 34px;
  }
  main .hero-image {
    margin: 0;
    width: 610px;
    grid-column: 2/3;
    grid-row: 1/3;
  }
  main .info {
    margin: 70px 80px 0 166px;
  }
  main .info h1 {
    max-width: 400px;
  }
  main .info p {
    max-width: 440px;
    margin-top: 20px;
  }
  main .info form {
    margin-top: 40px;
  }
}
button {
  width: 65px;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding-left: 27px;
}

@media screen and (width > 1300px) {
  button {
    width: 100px;
    height: 56px;
    border-radius: 28px;
    padding-left: 45px;
  }
}
body {
  background-image: linear-gradient(235deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
@media screen and (width > 1300px) {
  body {
    background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(235deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }
}

main h1 {
  color: hsl(0, 6%, 24%);
}
main em, main p {
  color: hsl(0, 36%, 70%);
}
main form input {
  background-image: linear-gradient(235deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  border: 1px solid hsl(0, 36%, 70%);
  outline: none;
}
main form input:focus {
  color: hsl(0, 6%, 24%);
  border: 2px solid hsl(0, 93%, 68%);
}
main form input::-moz-placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.5;
}
main form input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.5;
}
main form #email-error {
  color: hsl(0, 93%, 68%);
}

button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 10px 30px hsl(0, 36%, 70%);
}
button:hover {
  cursor: pointer;
  background-color: hsl(359, 75%, 89%);
  background-image: none;
}/*# sourceMappingURL=style.css.map */